<html>

<head>
<% if ((marks < 3) && (quizname == "GK")) { %>
    <h2>Your Score is less . Please refer to link given below. </h2>
    <a href="https://www.britannica.com/">Britannica</a>
    <a gref="https://www.tutorialspoint.com/general_knowledge/index.htm">Tutorialspoint</a>
<% } %>

<% if ((marks < 3) && (quizname == "History")) { %>
    <h2>Your Score is less . Please refer to link given below. </h2>
    <a href="https://www.tutorialspoint.com/ancient_indian_history/index.htm">Tutorialspoint</a>
    <a href="https://www.udemy.com/course/indian-history-chronology/">Udemy Course</a>

<% } %>

<% if ((marks < 3) && (quizname == "Sports")) { %>
    <h2>Your Score is less . Please refer to link given below. </h2>
    <a href="https://www.tutorialspoint.com/sports_tutorials.htm">Tutorialspoint</a>
    <a href="https://study.com/academy/lesson/individual-sports-definition-examples-skill-development.html">study.com Free Course</a>
    <a href="https://indianathletics.in/medal-awards/">AFI Athletes Awards List</a>
<% } %>

<% if ((marks < 3) && (quizname == "Politics")) { %>
    <h2>Your Score is less . Please refer to link given below. </h2>
    <a href="https://www.tutorialspoint.com/indian_polity/index.htm">Tutorialspoint</a>
    <a href="https://study.com/academy/subj/social-science/political-science.html">study.com Free Courses</a>
    <a href="http://www.opensecrets.org/">Open Secrets</a>
<% } %>

<% if ((marks < 3) && (quizname == "Science")) { %>
    <h2>Your Score is less . Please refer to link given below. </h2>
    <a href="https://www.sciencedaily.com/">ScienceDaily.com</a>
    <a href="https://www.sciencenews.org/">ScienceNews.com</a>
    <a href="https://science.howstuffworks.com/">HowStuffWorks.com</a>
<% } %>

<% if ((marks < 3) && (quizname == "Aptitude")) { %>
    <h2>Your Score is less . Please refer to link given below. </h2>
    <a href="https://computeraptitude.com/">Computer Aptitude Test</a>
    <a href="https://egyankosh.ac.in/bitstream/123456789/65123/3/Unit-6.pdf">Aptitude Info PDF</a>
<% } %>
</head>

</html>